In [1]:
import pymysql
import pandas as pd

conn = pymysql.connect(
    host="thirdtest.camwsondhmqr.us-east-2.rds.amazonaws.com",
    user="thirdtest",
    passwd="Qja1998+0325",
    db="ebdb"
)
cursor = conn.cursor()

In [2]:
cursor.execute('SELECT * FROM user');
rows = cursor.fetchall()

df_users = pd.DataFrame( [[ij for ij in i] for i in rows] )
df_users.rename(
    columns={0:'Name', 1:'Political Stance', 2:'Session', 3:'Question Order', 4:'Current Question', 5:'World'},
    inplace=True
)
#df_users = df_users.sort_values(['Name'], ascending=[1])
df_users['Turn'] = range(1,len(df_users)+1)
df_users = df_users[['Turn','Name','Political Stance','Session', 'Question Order', 'World']]
df_users

,Turn,Name,Political Stance,Session,Question Order,World
0,1,hsoijk,,5b895e5490e48,"23,24,1,19,21,7,13,8,15,18,9,6,17,14,22,20,10,...",2

In [3]:
cursor.execute('TRUNCATE ebdb.user');
cursor.execute('TRUNCATE ebdb.user_question_world_answer');

In [5]:
cursor.execute('SELECT * FROM user');
rows = cursor.fetchall()

rows

()